* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}
.overlay {
    background-color: transparent;
    transition: background-color .5s;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 50;
}

section {
    height: 100vh;
    width: 100vw;
}

#home {
    background: linear-gradient(to bottom right, #88f7fe 0%, #66a6fe 100%);;
    display: flex;
    float: none;
    max-width: fit-content;
    /*text-align: center;*/
    /*justify-content: center;*/
    align-items: center;
}
#home > .intro_sec{
    z-index: 10;
}
#home > .intro_sec > .row{
    /*border-radius: 50px;*/
    /*background: #00c7fd;*/
    /*box-shadow:  20px 20px 60px #00a9d7,*/
    /*-20px -20px 60px #00e5ff;*/
    /*height: 70%;*/
    /*width: 70%;*/
    /*padding-left: 10%;*/
    /*display: flex;*/
    /*text-align: center;*/
    justify-content: start;    /* horizontal */
    /*align-items: center;        !* vertical   *!*/
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .intro_sec {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        /*background-color: rgba(255, 255, 255, 0.5);*/
    }
    .warning {
        display: none;
    }
}
.intro_sec {
    overflow: hidden;
    max-width: 80%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: -10%;
    margin-left: 5%;
    margin-right: 30%;
}


#intro_name h1{
    font-size: 60px;
    color: #000000;
}
#intro_name{
    align-items: start;
    justify-content: start;
    padding-bottom: 0.5%;
}
.nameBlock{
    text-align: left;
}

#intro_name > .text{
    text-align: left;
    align-items: start;
    justify-content: start;
}

/* experiment */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 98; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.ham-bar{
    z-index: 99;
    position: fixed;
    right: 1%;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.icons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    overflow: hidden;
}
.icons .icm {
    -webkit-font-smoothing: antialiased;
    -webkit-transition: 300ms all;
    transition: 300ms all;
    position: absolute;
    font-size: 10vw;
    -webkit-animation: 10s floatUp ease-in infinite;
    animation: 10s floatUp ease-in infinite;
    top: 100%;
}
.icons .icm:before {
    display: inline-block;
}
.icons .icm:nth-child(odd):before {
    -webkit-animation: 40s slowRotate linear;
    animation: 40s slowRotate linear;
}
.icons .icm:nth-child(even):before {
    -webkit-animation: 30s slowRotate linear;
    animation: 30s slowRotate linear;
    animation-direction: reverse;
}
@-webkit-keyframes floatUp {
    0% {
        top: 110%;
        top: calc(100% + 2em);
    }
    100% {
        top: -25%;
        top: -2em;
    }
}
@keyframes floatUp {
    0% {
        top: 110%;
        top: calc(100% + 2em);
    }
    100% {
        top: -25%;
        top: -2em;
    }
}
@-webkit-keyframes slowRotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes slowRotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.down_arrow {
    width: 49px;
    height: 49px;
    position: absolute;
    bottom: 25%;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 50px;
    z-index: 51;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}