* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
    font-size: 1.3vh;
}

@media screen and (max-width: 500px){
    html{
        font-size: 1vh;
    }
}

.overlay {
    background-color: transparent;
    transition: background-color .5s;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

section {
    height: 100vh;
    width: 100vw;
}

#home {
    background: linear-gradient(to bottom right, #88f7fe 0%, #66a6fe 100%);;
    display: flex;
    float: none;
    max-width: fit-content;
    /*text-align: center;*/
    /*justify-content: center;*/
    align-items: center;
}
#home > .intro_sec{
    z-index: 10;
}

#home > .intro_sec > .row{
    justify-content: start;    /* horizontal */
    /*align-items: center;        !* vertical   *!*/
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .intro {
        -webkit-backdrop-filter: blur(1px);
        backdrop-filter: blur(0.27rem);
        /*background-color: rgba(255, 255, 255, 0.5);*/
    }
    .warning {
        display: none;
    }
}
.intro{
    z-index: 11;
    display: flex;
    height: inherit;
    align-items: center;
}
.intro_sec {
    overflow: hidden;
    color: white;
    border-radius: 20px;
    padding: 2% 5%;
    margin-top: -10%;
    margin-left: 5%;
    margin-right: 35%;
}

@media screen and (max-width:768px){
    .intro_sec{
        margin-right: 20%;
    }
}

#intro_name h1{
    font-size: 6rem;
}
#intro_name{
    align-items: start;
    justify-content: start;
    padding-bottom: 0.5%;
}

#intro_para p{
    font-size: 1.7rem;
}

.nameBlock{
    text-align: left;
}

#intro_name > .text{
    text-align: left;
    align-items: start;
    justify-content: start;
}

/* experiment */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 98; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 2.5rem;
    color: #bebcbc;
    display: block;
    transition: 0.3s;
}

.ham-bar{
    z-index: 99;
    position: fixed;
    right: 1.3%;
    top: 2%;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 8px);
    transform: rotate(-45deg) translate(-8px, 8px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.icons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    overflow: hidden;
}
.icons .icm {
    -webkit-font-smoothing: antialiased;
    -webkit-transition: 300ms all;
    transition: 300ms all;
    position: absolute;
    font-size: 10vw;
    -webkit-animation: 10s floatUp ease-in infinite;
    animation: 10s floatUp ease-in infinite;
    top: 100%;
}
.icons .icm:before {
    display: inline-block;
}
.icons .icm:nth-child(odd):before {
    -webkit-animation: 40s slowRotate linear;
    animation: 40s slowRotate linear;
}
.icons .icm:nth-child(even):before {
    -webkit-animation: 30s slowRotate linear;
    animation: 30s slowRotate linear;
    animation-direction: reverse;
}
@-webkit-keyframes floatUp {
    0% {
        top: 110%;
        top: calc(100% + 2em);
    }
    100% {
        top: -25%;
        top: -2em;
    }
}
@keyframes floatUp {
    0% {
        top: 110%;
        top: calc(100% + 2em);
    }
    100% {
        top: -25%;
        top: -2em;
    }
}
@-webkit-keyframes slowRotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes slowRotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.down_arrow {
    width: 49px;
    height: 49px;
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 50px;
    z-index: 51;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

@media screen and (max-width: 440px){
    .down_arrow{
        right: 2%;
        left: auto;
    }
}

/*@media screen and (max-width: 1000px){*/
/*    .slideshow-item-text{*/
/*        max-width: 70%;*/
/*        padding: 5rem 1rem;*/
/*    }*/
/*    .slideshow-item-text h5{*/
/*        font-size: 4rem;*/
/*    }*/
/*}*/
/*@media screen and (max-width: 767px){*/
/*    .slideshow-item-text{*/
/*        max-width: 100%;*/
/*        padding: 2rem;*/
/*        top: initial;*/
/*        bottom: 0;*/
/*        transform: initial;*/
/*    }*/
/*    .slideshow-item-text h5{*/
/*        font-size: 3rem;*/
/*    }*/
/*    .slideshow-item-text p{*/
/*        font-size: 1.4rem;*/
/*    }*/
/*}*/

.proj{
    height: 100%;
    width:100%;
    padding: 0;
    max-width: 100%;
}
.proj_back{
    height: 100%;
    width:100%;
    padding: 0;
    max-width: 100%;

}
.proj_info{
    display: flex;
    height: inherit;
    align-items: center;
    width: 60%;
    margin: auto;
}

.proj_info_idv{
    overflow: hidden;
    color: white;
    border-radius: 20px;
    padding: 2% 5%;
    background-color: rgba(0,0,0, .5);
}

@media screen and (max-width: 768px) {
    .proj_info{
        width: 75%;
    }
}

.proj_name{
    align-items: start;
    justify-content: start;
    padding-bottom: 0.5%;
}
.proj_name > h1{
    text-transform: uppercase;
    font-size: 5rem;
}
.proj_desc > p{
    font-size: 1.7rem;
}

.carousel_buttons {
    z-index: 52
}